<% if records.any? %>
  <% records.group_by(&:date).each do |date, values| %>
    <hr>
    <div class ="row">
      <div class="text-left col-6">
          <h3><i class="fas fa-calendar-day"></i><%= date %></h3>
      </div>
      <% physical_data.each do |v| %>
        <% if v.date == date %>
        <% @body_weight = v.body_weight %>
          <div class="col-3">
            <p>Body weight: <%= @body_weight %> kg</p>
          </div>
          <% if v.body_fat_ratio %>
          <div class="col-3">
            <p>Body fat ratio: <%= v.body_fat_ratio %> %</p>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Workout</th>
              <th scope="col">Lift</th>
              <th scope="col">Rep</th>
              <th scope="col">1RepMax</th>
              <th scope="col">Ratio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
    <% values.each do |record| %>
            <tr>
              <td><%= record.workout %></td>
              <td><%= record.weight %></td>
              <td><%= record.rep %></td>
              <td><%= calc_repmax(record.weight, record.rep) %></td>
              <% if @body_weight %>
                <td><%= calc_ratio(@body_weight) %></td>
              <% end %>
              <td></td>
              <% if current_user == record.user %>
                <td>
                  <%= link_to "Edit", edit_record_path(record.id), class: 'btn btn-success btn-sm' %>
                  <%= link_to "Delete", record, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
    <% end %>
          </tbody>
        </table>
        </div>
  <% end %>
<% end %>