<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: physical_data, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      
        <div class="form-group">
        <%= f.label :date, 'Day' %>
        <div class="row col-12">
          <%= f.date_select :date,{start_year: Date.today.year-50, end_year: Date.today.year}, {class: 'form-control col-3'} %>
        </div>

      <div class="form-group">
        <%= f.label :body_weight, '体重' %>
        <%= f.number_field :body_weight,step:"0.01", class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :body_fat_ratio , '体脂肪率' %>
        <%= f.text_field :body_fat_ratio ,step:"0.01", class: 'form-control' %>
      </div>

      <%= f.submit '保存', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>